@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@400;700&family=Inter:wght@400;600&display=swap');

:root {
  --gray-0: #F2F3F8;
  --gray-1: #BBC4DD;
  --gray-2: #8392bd;
  --gray-3: #20283b;
  --gray-3: #272b36;
  --gray-4: #1c1c2b;
  --gray-5: #0A0F1F;

  --yellow: #ffbf57;
  --orange: rgb(239, 123, 100);
  --blue: #02bcf5;
  --pink: #fb82ae;
  --purple: #8f93ff;
  --green: rgb(77, 212, 89);
}

:root {
  --bg1: var(--gray-5);
  --bg2: var(var(--gray-4))
  --border: var(--gray-3);
  --highlighted-text: var(--gray-0);
  --text: var(--gray-1);
  --subtext: var(--gray-2);
  --link: var(--yellow);
  --link-hover: var(--purple);
  --monospace: Menlo, Monaco, monospace, monospace;
  --border: solid var(--gray-3) 1px;
}

html {
  scroll-padding-top: 5.5rem;
}

body {
  font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Ubuntu,sans-serif;
  background-color: var(--bg1);
  color: var(--text);
  margin: 0;
}

main {
  margin: 0rem 1.5rem;
}

footer {
  margin: 5rem 0 3rem;
  display: flex;
  justify-content: center;
}

footer p, footer a {
  color: var(--subtext);
  font-size: 0.9rem;
}

h1, h2, h3 {
  color: var(--highlighted-text);
}

p {
  line-height: 1.5rem;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: var(--link);
}

a:hover {
  color: var(--link-hover);
  text-decoration: underline;
}

li {
  margin: 0.4rem 0;
  line-height: 1.5rem;
}

.hidden {
  color: var(--bg1);
}

.section-header {
  font-size: 2rem;
  margin: 3rem 0 2rem;
}

.date {
  color: var(--blue);
  font-size: 0.8rem;
  margin-bottom: 0.3rem;
  font-family: var(--monospace);
}

.description {
  color: var(--subtext);
}

.tech-stack {
  color: var(--subtext);
  font-size: 0.8rem;
  font-family: var(--monospace);
}

.project-name a {
  color: var(--highlighted-text);
}

.project-name a:hover {
  color: var(--link-hover);
  text-decoration: underline;
}

#navbar {
  position: -webkit-sticky;
	position: sticky;
	top: 0;
  background-color: var(--gray-5);
  height: 3rem;
  border-bottom: var(--border);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 1rem 0;
  z-index: 1;
}

#navbar a {
  margin: 0 1rem;
  color: var(--subtext);
}

#navbar a:hover {
  color: var(--link-hover);
}

#navbar .name {
  font-family: var(--monospace);
  color: var(--link);
}

#title {
  margin-top: 0;
  font-size: 3rem;
}

#intro {
  display: flex;
  margin: 3rem auto;
}

#intro p {
  margin: 1rem 0;
  color: var(--text);
}

#intro a {
  color: var(--link);
}

#intro a:hover {
  color: var(--link-hover);
  text-decoration: underline;
}

#intro .left {
  padding-right: 2rem;
  display: flex; 
  flex-direction: column;
  justify-content: center;
}

#intro .right {
  display: flex;
  flex-direction: column;
}

#skills p {
  font-family: var(--monospace);
  margin: 0rem auto;
  font-size: 0.8rem;
  line-height: 1rem;
  color: var(--gray-2);
}

#portrait {
  border-radius: 0.5rem;
  max-height: 300px;
  max-width: 230px;
}

#experience .box {
  border-radius: 0.5rem;
  background-color: var(--gray-4);
  border: var(--border);
  margin: 1rem auto;
  padding: 1rem 1.2rem 1.6rem;
}

#experience .box .header {
  display: flex;
  margin-bottom: 0.5rem;
}

#experience .box .header .text {
  margin-left: 0.5rem;
}

#experience h3 {
  margin: 0;
  padding: 0;
  color: var(--highlighted-text);
}

#experience .box .header img {
  width: 2.5rem;
  border-radius: 0.3rem;
}

#experience a {
  color: var(--highlighted-text);
}

#experience a:hover {
  color: var(--link-hover);
  text-decoration: underline;
}

#projects-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

#projects-list h3 {
  margin: 0 auto 0.2rem;
}

#projects-list .box {
  margin: 0.5rem 0.4rem;
  padding: 1rem 1.2rem 1.4rem;
  border-radius: 0.5rem;
  background-color: var(--gray-4);
  border: var(--border);
}

.club {
  margin: 1rem 0;
  display: flex;
}

.club img {
  margin-right: 1rem;
  width: 4rem;
  height: auto;
  object-fit: contain;
}

.club svg {
  width: 4rem;
  margin-right: 1rem;
  height: auto;
  object-fit: contain;
}


@media (min-width: 1024px) {
  main {
    margin: auto 15%;
  }

  #navbar {
    justify-content: flex-start;
  }
}

@media (max-width: 500px) {
  main {
    margin: 0.7rem 2rem;
  }

  #navbar a {
    margin: 0 0.3rem;
  }

  #intro {
    display: block;
  }

  #intro .right {
    margin-top: 2rem;
  }

  #projects-list {
    display: flex;
    flex-direction: column;
  }
}  

@keyframes cursor-blink {
  0% {
    opacity: 0;
  }
}
