@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');

:root {
  --bg1: var(--gray-0);
  --highlighted-text: var(--gray-0);
  --h1: var(--green);
  --h2: var(--teal);
  --h3: var(--blue);
  --emph: var(--purple);
  --emph2: var(--orange);
  --text: var(--gray-2);
  --subtext: var(--gray-2);
  --link: var(--yellow);
  --link-hover: var(--orange);
  --monospace: Menlo, Monaco, monospace, monospace;
  --border: solid var(--gray-1) 1px;

  --gray-0: #24273a;
  --gray-1: #363a4f;
  --gray-2: #cad3f5;
  --gray-3: #2857e2;
  --yellow: #eed49f;
  --orange: #f5a97f;
  --blue: #7dc4e4;
  --teal: #8bd5ca;
  --pink: #f5bde6;
  --purple: #c6a0f6;
  --green: #a6da95;
}

html {
  scroll-padding-top: 5.5rem;
}

body {
  font-family: "Roboto Mono", monospace;
  /* font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Ubuntu,sans-serif; */
  background-color: var(--bg1);
  color: var(--text);
  margin: 0;
}

main {
  margin: 0rem 4rem;
  display: flex;
  justify-content: center;
}

footer {
  margin: 3rem 0 3rem;
  display: flex;
  justify-content: center;
}

footer p,
footer a {
  color: var(--subtext);
  font-size: 0.9rem;
}

h1 {
  margin: 2rem 0 1rem;
  color: var(--h1);
}

h2 {
  margin: 1rem 0 1rem;
  color: var(--h2);
}

h3 {
  color: var(--h3);
  margin-bottom: 0.5rem;
}

hr {
  border: 0.1px solid var(--gray-1);
}

p {
  line-height: 1.5rem;
  margin: 0rem 0;
}

a {
  text-decoration: none;
  color: inherit;
}

a:hover {
  text-decoration: underline;
}

a:visited {
  color: inherit;
  text-decoration: none;
}

.section {
  margin: 3rem 0;
}

.hash {
  opacity: 0.5;
}

.bold {
  font-weight: "bold";
}

.emph {
  color: var(--emph);
  font-weight: 500;
}

.emph2 {
  color: var(--emph2);
  font-weight: 500;
}

.position {
  display: flex;
  justify-content: space-between;
}

#navbar {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  background-color: var(--bg1);
  height: 3rem;
  border-bottom: var(--border);
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 0 1rem 0;
  z-index: 1;
}

#navbar a {
  margin: 0 1rem;
  color: var(--subtext);
}

#navbar .name {
  font-family: var(--monospace);
  color: var(--link);
}

#content {
  max-width: 732px;
}

@media (min-width: 1024px) {
  main {
    margin: auto 15%;
  }
}

@media (max-width: 500px) {
  main {
    margin: 0.7rem 2rem;
  }

  #navbar {
    justify-content: center;
  }
}

@keyframes cursor-blink {
  0% {
    opacity: 0;
  }
}