@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@400;700&family=Inter:wght@400;600&display=swap');

:root {
  --bg1: var(--gray-5);
  --bg2: var(var(--gray-4)) --border: var(--gray-3);
  --highlighted-text: var(--gray-0);
  --text: var(--gray-1);
  --subtext: var(--gray-2);
  --link: var(--yellow);
  --link-hover: var(--purple);
  --monospace: Menlo, Monaco, monospace, monospace;
  --border: solid var(--gray-3) 1px;

  --gray-0: #F2F3F8;
  --gray-1: #BBC4DD;
  --gray-2: #8392bd;
  --gray-3: #20283b;
  --gray-3: #272b36;
  --gray-4: #1c1c2b;
  --gray-5: #0A0F1F;
  --yellow: #ffbf57;
  --orange: rgb(239, 123, 100);
  --blue: #02bcf5;
  --pink: #fb82ae;
  --purple: #8488ff;
  --green: rgb(77, 212, 89);
}

html {
  scroll-padding-top: 5.5rem;
}

body {
  font-family: "Inconsolata", monospace;
  /* font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Ubuntu,sans-serif; */
  background-color: var(--bg1);
  color: var(--text);
  margin: 0;
}

main {
  margin: 0rem 4rem;
  display: flex;
  justify-content: center;
}

footer {
  margin: 3rem 0 3rem;
  display: flex;
  justify-content: center;
}

footer p,
footer a {
  color: var(--subtext);
  font-size: 0.9rem;
}

h1,
h2,
h3 {
  color: var(--highlighted-text);
}

h1,
h2 {
  margin: 2rem 0 1rem;
}

h3 {
  margin-bottom: 0.5rem;
}

p {
  line-height: 1.5rem;
  margin: 0rem 0;
}

a {
  text-decoration: none;
  color: var(--link);
}

a:hover {
  color: var(--link-hover);
  text-decoration: underline;
}

.emph {
  color: var(--blue);
}

#navbar {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  background-color: var(--gray-5);
  height: 3rem;
  border-bottom: var(--border);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 1rem 0;
  z-index: 1;
}

#navbar a {
  margin: 0 1rem;
  color: var(--subtext);
}

#navbar a:hover {
  color: var(--link-hover);
}

#navbar .name {
  font-family: var(--monospace);
  color: var(--link);
}

#content {
  max-width: 732px;
}

@media (min-width: 1024px) {
  main {
    margin: auto 15%;
  }

  #navbar {
    justify-content: flex-start;
  }
}

@media (max-width: 500px) {
  main {
    margin: 0.7rem 2rem;
  }
}

@keyframes cursor-blink {
  0% {
    opacity: 0;
  }
}