@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@400;700&family=Inter:wght@400;600&display=swap');

body {
  margin: 0rem 1.5rem;
  font-family: 'Inconsolata', monospace;
}

h3, p {
  margin: 0;
  padding: 0;
}

#navbar {
  position: -webkit-sticky;
	position: sticky;
	top: 0;
}

#about {
  display: flex;
}

#about-right {
  display: flex;
  flex-direction: column;
}

#experience .box {
  border-radius: 0.5rem;
  border: solid black 1px;
  margin: 1rem auto;
  padding: 1.6rem 1.2rem;

}

#projects {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

#projects .box {
  /* background-color: red; */
  margin: 0.5rem 0.4rem;
  padding: 0.6rem;
  border-radius: 0.5rem;
  border: solid black 1px;
}

@media (min-width: 1024px) {
  body {
    margin: auto 15%;
  }
}

@media (max-width: 500px) {
  body {
    margin: 0.7rem;
  }
}  