@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@400;700&family=Inter:wght@400;600&display=swap');

.dark {
  --bg1:#010029;
  --bg2:#1e164b;
  --box-hover:#27277F;
  --shadow:#00020a;
  --header:#FF9A42;
  --link:#FF593F;
  --text:#B6BFFA;
  --tag: #271c7c;
  font-family: 'Inconsolata', monospace;
}

.light {
  --bg1:rgb(255, 255, 255);
  --bg2:#ffffff;
  --box-hover:#dddffd;
  --header:#eb6955;
  --link:#e94813;
  --text:#4b5071;
  --tag: #eeefff;
  --border: #dddffd;
  font-family: 'Inter', sans-serif;
  font-size: 15px;
}

body {
  margin: 0rem 1rem;
  display: grid;
  grid-template-columns: 30% auto;
  grid-template-areas: "sidebar main";
  background: var(--bg1);
  color: var(--text);
}

h1 {
  padding: 0.5rem 0rem 0rem 1rem;
  color: var(--header);
  font-size: 2rem;
}

h2 {
  padding: 0;
  color: var(--header);
  font-size: 1.7rem;
}

h3 {
  margin: 0rem 0rem 0.5rem;
}

aside,
main {
  padding: 0.5rem;
}

aside {
  background: var(--bg1);
  grid-area: sidebar;
  display: flex;
  flex-direction: column;
}

main {
  background: var(--bg1);
  grid-area: main;
  display: flex;
  flex-direction: column;
}

ul {
  list-style: none;
  padding-left: 0;
}

ul li{
  margin: 0.5rem 0rem;
}

a {
  text-decoration: none;
  color: var(--text);
}

img {
  margin: 0.5rem 0rem 0rem;
  border-radius: 0.4rem;
  width: 100%;
}

i {
  margin: 0rem 0.6rem 0rem 0rem;
}

p {
  line-height: 1.2;
}

.light p {
  line-height: 1.4;
}
/* TAGS */

.tag {
  background: var(--tag);
  margin: 0rem 0.3rem;
  padding: 0.2rem 0.5rem;
  border-radius: 0.3rem;
  font-size: 0.8rem;
}

.tech-used {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

/* NAME */

#hidden {
  color: var(--bg1);
}

#name-container {
  display: flex;
  justify-content: flex-start;
}

/* SIDEBAR */
#sidebar {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}

#sidebar p, #sidebar h2 {
  margin: 0.5rem 0;
}

#contact {
  margin: 1.5rem 0rem 0rem;
}

#contact a:hover {
  color: var(--link);
}

#portrait {
  margin: 1.5rem 0rem 0rem;
}

#toggle-color-scheme {
  padding: 0.5rem 1rem;
  outline: none;
  border: none;
  border-radius: 0.4rem;
  font-family: inherit;
  background-color: var(--box-hover);
  color: var(--text);
}

/* MAIN */
.main-section {
  margin: 1rem 0rem;
  padding: 0rem 1rem;
}

#cursor {
  border-right: 4px solid var(--header);
  display: inline-block;
  animation: cursor-blink 1.5s steps(2) infinite;
}

#about {
  margin: -1rem 0rem 0rem;
}

.skills {
  display: flex;
  flex-wrap: wrap;
  margin: 0rem 0rem 0.5rem;
}

.skills .tag {
  margin: 0 0.3rem 0.5rem;
  background-color: var(--tag);
}

#education .boxes {
  display: grid;
  grid-template: 20% auto / 50% 50%;
  grid-template-areas: "school school" "classes activities";
  margin: 0.25rem -1rem;
}

#education .summary {
  grid-area: school;
  margin: 0.2rem;
  padding: 0rem 1rem;
}

#education .summary p {
  margin: 0.3rem 0rem;
}

#education .box {
  border: solid 1px var(--border);
  overflow-wrap: normal;
  background: var(--bg2);
  border-radius: 0.5rem;
  margin: 0rem 1rem 2rem;
  padding: 0rem 1rem;
  box-shadow: 0.2rem 0.3rem 0.4rem var(--shadow);
}

#education .box p {
  background: var(--tag);
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
  text-align: center;
  margin: 0rem -1rem;
  padding: 1rem;
}

#education .box ul li {
  margin: 0rem -1rem;
  padding: 0.6rem 1rem;
  border-bottom: 0.7px solid var(--border);
}

#education .boxes .box ul .first {
  margin-top: -1rem;
}

#education .boxes .box ul .last {
  border-bottom: none;
}

#experience .boxes {
  display: flex;
  flex-direction: column;
  margin: 1rem 0rem;
}

#experience .box {
  background: var(--bg2);
  border: solid 1px var(--border);
  border-radius: 0.6rem;
  margin: 0.5rem 0rem 0.5rem;
  padding: 0.5rem 1.2rem;
  box-shadow: 0.2rem 0.3rem 0.4rem var(--shadow);
}

#experience .header {
  margin: 1rem 0rem 0.5rem;
}

#experience .header p {
  margin: 0.2rem;
}

#experience .position {
  font-weight: bold;
  font-size: 1.1rem;
}

#experience .date {
  font-size: 0.9rem;
}

#experience .tech-used {
  justify-content: flex-start;
  margin: 0rem;
}

#projects .boxes {
  display: grid;
  margin: 0rem 0rem 0.5rem;
  grid-template-columns: 1fr 1fr 1fr;
}

#projects .box {
  background: var(--bg2);
  border-radius: 0.5rem;
  border: solid 1px var(--border);
  margin: 0.5rem 0.4rem;
  padding: 0.6rem;
  text-align: center;
  box-shadow: 0.2rem 0.3rem 0.4rem var(--shadow);
}

#projects .boxes :hover {
  background: var(--box-hover);
}

#projects .tech-used {
  display: flex;
  justify-content: flex-start;
}

#projects .desc {
  width: 100%;
}

#projects .tag {
  margin: 0 0.2rem 0.2rem;
  padding: 0.15rem 0.5rem;
  font-size: 0.75rem;
}

#projects .tag:hover {
  background: var(--tag);
}

#projects img {
  height: 100px;
  width: 100px;
}

@media (min-width: 1024px) {
  body {
    margin: 0rem 18%;
  }
}

@media (max-width: 500px) {
  
  html, body {
    display: flex;
    flex-direction: column; 
    margin: 0.5rem;
  }

  img {
    width: 35%;
  }

  #container-for-small-screen {
    display: grid;
    grid-template-rows: 50% auto;
    grid-template-columns: 50% auto;
    grid-template-areas: "pic bio" "contact contact";
    margin: 0rem 1rem -1rem;
  }

  #portrait {
    grid-area: pic;
    width: 80%;
  }

  #sidebar-bio {
    grid-area: bio;
    margin: 0rem;
  }

  #contact {
    grid-area: contact;
    background: var(--bg2);
    border-radius: 0.8rem;
    margin: 1.5rem 0rem 0rem;
    padding: 1rem 1.2rem 0.5rem;
    box-shadow: 0.2rem 0.3rem 0.4rem var(--shadow);
  }

  #toggle-color-scheme-container {
    display: flex;
    justify-content: center;
    width: 100%;
  }

  #toggle-color-scheme {
    margin: 2rem 0 0rem;
    width: 90%;
  }
  
  #projects .boxes {
    display: flex;
    flex-direction: column;
  }

  #projects .box {
    display: flex;
    padding: 0.6rem;
  }

  #projects .desc {
    display: flex;
    flex-direction: column;
  }

  #projects .tech-used {
    margin: 0 0 0 0.5rem;
  }

  #education .boxes {
    display: flex;
    flex-direction: column;
  }

  #education .summary {
    margin: 0 0 1rem;
  }
}

@keyframes cursor-blink {
  0% {
    opacity: 0;
  }
}